<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <div class="topnav">
        <a th:href="@{/home/page=1}" class="active">На головну</a>
        <div sec:authorize="hasAuthority('ROLE_ADMIN')" >
            <a th:href="@{/admin/addBook}" id="addBook">Додати книгу</a>
            <a th:href="@{/admin/listAuthors}" id="addBook">Довідник</a>
        </div>
        <div sec:authorize="!isFullyAuthenticated()">
            <a th:href="@{/reg}" id="reg">Реєстрація</a>
            <a th:href="@{/login}" id="log_in">Увійти</a>
        </div>
        <div sec:authorize="isFullyAuthenticated()">
            <form th:action="@{/logout}" method="post">
                <a th:href="@{/logout}" id="log_in">Вийти</a>
            </form>
        </div>
        <h3 id="ob">Онлайн бібліотека</h3>
    </div>
</header>
<div class="main">
<form method="post" th:action="@{/admin/addAuthor}" th:object="${author}">
    <label for="fio" class="text-info">Ім'я</label><br>
    <input type="text" th:field="*{fio}" id="fio" th:errorClass="is-invalid" class="form-control" width="400">
    <span th:if="${#fields.hasErrors('fio')}" th:errors="*{fio}" class="invalid-feedback"></span></br>
    <label for="birthday" class="text-info">Дата народження</label><br>
    <input type="date" th:field="*{birthday}" id="birthday"  class="form-control" width="400">
    <input type="submit" value="Додати автора" class="btn btn-info btn-md">
</form>
</div>
<div th:insert="blocks/footer::footer" ></div>
</body>
</html>