<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="main">
<form method="post" th:action="@{'/admin/editPublisherById='+${publisher.id}}" th:object="${publisher}">
    <label for="name" class="text-info">Назва</label><br>
    <input type="text" th:field="*{name}" id="name" class="form-control" th:errorClass="is-invalid">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalid-feedback"></span>
    <input type="submit" name="submit" class="btn btn-info btn-md" value="Редагувати">
</form>
</div>
<div th:insert="blocks/footer::footer" ></div>
</body>
</html>