<div  th:fragment="footer">
    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
        <div class="container text-center">
            <div class="footer-middle">
                <h4>My Contacts</h4>
                <ul class="social-network social-circle">
                    <li><span data-th-abbr="dfef"><a href="https://www.facebook.com/dmytrochobit11"><i class="fa fa-facebook" aria-hidden="true"></i></a></span></li>
                    <li><a href="https://www.instagram.com/dmytrochobit11/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="https://github.com/DMYTRO-CHOBIT11"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="texno">
                <h6 id="myDetail"><strong>Онлайн бібліотека на Spring:</strong></h6>
                <p>Виконав студент групи КН-414 Чобіт Дмитро<br/>Використані технології:<br/>
                    Spring Boot,Spring Data,Spring Security,<br/>
                    Hibernate,MySql,Thymeleaf</p>
            </div>
        </div>
    </footer>
</div>